<form style="width: 1300px; text-align: center;">
    <div style="display: inline-block;">
        <video id="originalimage" style="width: 640px; height: 480px;" autoplay="true" playsinline="true"></video>
        <video id="roiimage" style="width: 640px; height: 480px;" autoplay="true" playsinline="true"></video>
    </div>

    <div class="row">
        <div class="column">
            {{!-- <h2 style="font-size: 1em; text-align: left;">Calibration</h2>
            <button type="button" id="calibrateCamera">Calibrate camera</button> --}}
        </div>
        
        <div class="column">
            <h2 style="font-size: 1em; text-align: left;">Battle area</h2>
            <div class="row">
                <button type="button" id="selectROI">Select battle area</button>
            </div>
        </div>
    </div>
</form>